{% extends "bootstrap/base.html" %}


{% block title %}Login{% endblock %}

{% block navbar %}
    {% include "snipets/navbarIndex.html" %}
{% endblock %}

<!-- Digg deeper into the sourcecode my friend, there are eastereggs to hunt -->
{% block head %}
    <title>Schinder</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
    <link rel="icon" href="../static/logowhite.png">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/forIndex.css') }}" />

{% endblock %}

{% block content %}

    {% include "snipets/flash.html" %}

    <style>
        body{
            background-image: url("../static/nolove.png");
            background-color: black;
            background-repeat: no-repeat;
            background-position: top;
            background-attachment: fixed;
        }
    </style>



    <div class="container text-white center">

        <div class="box1">
            <h1>Login</h1>
            <form class="form-signin" action="" method="post">
                <h2 class="form-signin-heading">Bitte melden Sie sich an:</h2>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label() }}<br>
                    {{ form.username(size=50, class_="text-black") }}
                    {% for error in form.username.errors %}
                        <div style="color: red; font-size: 18px">{{ error }}</div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=50, class_="text-black") }}
                    {% for error in form.password.errors %}
                        <div style="color: red; font-size: 18px">{{ error }}</div>
                    {% endfor %}
                </p>
                <p style="padding-bottom: 25px">{{ form.submit(class_="btn btn-primary btn-lg anmelden") }}</p>
            </form>
            <p style="font-size: 18px; color:red"><a href="{{ url_for('register') }}">Klicke hier um dich zu Registrieren!</a></p>
            <p style="font-size: 18px"><a href="{{ url_for('reset_pw') }}">Passwort vergessen?</a></p>
        </div>
    </div>

{% include "snipets/footer.html" %}
{% endblock %}
